$main-color = #0096FA
$contrast-color = #ef00fa
$warn-color = red

$appbar-z-index = 1000
$appbar-height = 4em

$sidebar-width = 260px
$sidebr-z-index = 1100

.shadow-holo-sm
    box-shadow: -2px -2px 8px alpha($main-color,.4),
    2px 2px 8px alpha($main-color,.4),
    2px -2px 8px alpha($main-color,.4),
    -2px 2px 8px alpha($main-color,.4);
shadow-holo(argment)
    box-shadow: -2px -2px 8px alpha(argment,.4),
    2px 2px 8px alpha(argment,.4),
    2px -2px 8px alpha(argment,.4),
    -2px 2px 8px alpha(argment,.4);

.shadow-holo-max
    box-shadow: -5px -5px 10px alpha($main-color,0.3),
    5px 5px 10px alpha($main-color,0.3),
    5px -5px 10px alpha($main-color,0.3),
    -5px 5px 10px alpha($main-color,0.3);