$man-color = #001a6e
$second-color = gray
$warn-color = red

$appbar-z-index = 1000
$appbar-height = 9vh

$sidebar-width = 12vw
$sidebr-z-index = 1100

.shadow-holo-sm
    box-shadow: -2px -2px 10px rgba(131, 131, 243, 0.5),
    2px 2px 10px rgba(131, 131, 243, 0.5),
    2px -2px 10px rgba(131, 131, 243, 0.5),
    -2px 2px 10px rgba(131, 131, 243, 0.5);

.shadow-holo-max
    box-shadow: -5px -5px 10px rgba(131, 131, 243, 0.5),
    5px 5px 10px rgba(131, 131, 243, 0.5),
    5px -5px 10px rgba(131, 131, 243, 0.5),
    -5px 5px 10px rgba(131, 131, 243, 0.5);